body {
  text-align: center;
}

p {
  margin-top: 20px;
}

.navbar li,
a {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  color: black;
}

.navbar li a:hover {
  background-color: black;
  color: white;
}